{include header.html}

<div class="content" id="email"> 
    <div class="post">
    	<h2>Email:</h2>
    	<p>For the time being, we are all busy with finals coming up and therefore may not be on IRC all the time.
    	Please contact us via <a href="mailto:dev@emp-d.com">email</a> if you have questions, concerns, or want to 
    	take a look at the source code before we release it.
    </div>	    
</div>

<div class="content" id="webchat">
    <div class="post">
    <h2>IRC Client:</h2>
    <center>
    <iframe src="http://webchat.freenode.net?channels=emp-dev%2C%23emp-help&uio=d4" width="647" height="400"></iframe>
    </center><br/>
    </div>
</div>

{include footer.html}
