{include header.html}

<div class="content" id="email"> 
    <div class="post">
    	<h2>Email:</h2>
    	<p>Please contact us via <a href="mailto:dev@emp-d.com">email</a> if you have questions, concerns, or want to 
    	take a look at the source code before we release it. Or head on over to the <a href="signup.php">Subscribe</a>
    	page if you want to just be informed of progress.
    	</p>
    </div>	    
</div>

<div class="content" id="webchat">
    <div class="post">
       <h2>IRC Client:</h2>
       <div style="text-align:center">
       <iframe src='http://webchat.freenode.net?channels=emp-dev%2C%23emp-help' width="647" height="400"></iframe>
       <br/>
       </div>
    </div>
</div>

{include footer.html}
