{include header.html}

<div class="content">
    <p>We are currently at version 0.8, we will release a full version for 
    download here once we reach version 1.0. However, if you are a developer
    looking to help in this, or are just interested in seeing the source code
    please <a href="contact.php">contact us</a>.</p>
    
    <p>
    In the mean time, please feel free to stop by our 
    <a href="http://github.com/empd">Github account</a> and follow us!
    </p>        
</div>

{include footer.html}
