<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="description" content="An extensible monitoring platform for the modern age of information overflow." />
	<meta name="keywords" content="EMP,EMPD,Monitoring,Erlang,Platform,Extensible" />

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="style/main.css" />
	<link rel="stylesheet" type="text/css" href="3rdparty/highlight/styles/github.css" />
	
	<!-- 3rd party javascript -->
	<script type="text/javascript" src="3rdparty/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="3rdparty/highlight/highlight.js"></script>
	<script type="text/javascript" src="http://use.typekit.com/nca2sva.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<!-- Custom javascript -->
	<script type="text/javascript" src="scripts/load.js"></script>
	<script type="text/javascript" src="scripts/console.js"></script>

	<title>{title}</title>
</head>

<body>
	<div id="title">
		Extensible<br/>
		Monitoring<br/>
		Platform  <br/>
	</div>
	
	<div id="heading"></div>

	{include navigation.html}
